*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

background:linear-gradient(135deg,#6366f1,#9333ea);
height:100vh;

display:flex;
justify-content:center;
align-items:center;

}

.faq-container{

width:90%;
max-width:600px;
background:white;

padding:30px;

border-radius:12px;

box-shadow:0 10px 30px rgba(0,0,0,0.2);

}

h1{

text-align:center;
margin-bottom:20px;

}

.faq-item{

border-bottom:1px solid #ddd;

}

.faq-question{

width:100%;

background:none;

border:none;

padding:15px;

font-size:16px;

display:flex;
justify-content:space-between;
align-items:center;

cursor:pointer;

font-weight:bold;

}

.faq-question:hover{

background:#f3f4f6;

}

.faq-answer{

max-height:0;

overflow:hidden;

padding:0 15px;

transition:max-height 0.4s ease;

font-size:14px;

color:#555;

}

.faq-item.active .faq-answer{

max-height:120px;

padding:10px 15px;

}

.faq-item.active span{

transform:rotate(45deg);

}

span{

font-size:22px;

transition:0.3s;

}

@media(max-width:600px){

h1{
font-size:22px;
}

.faq-question{
font-size:14px;
}

}